# Port number
PORT=8000

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=300
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=300
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=60
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=60

# AWS S3 configuration options for the file uploading
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET=

# SMTP configuration options for the email service
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=4dfffe3a6628e8
SMTP_PASSWORD=e2d8c1248839fa
EMAIL_FROM=larkhod.dev

MONGODB_URL = mongodb+srv://username:password@cluster0.ch8tw.mongodb.net/dbName?retryWrites=true&w=majority